// Place all the styles related to the Studios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
  float: left;
}

#budget_and_city {
  float: right;
}

#filters {
  margin-right: auto;
}

#picture {
  float: center;
}


.container_slider {
  width:500px;
  margin: 60px auto;
  text-align: center;
}

#slider {
  background-color: white;
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 400px;
  height: 250px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slider img {
  position: center;
  top: 20px;
  left: 40px;
  max-width:400px;
  max-height:250px;
}


#dots {
  list-style:none;
  padding:0px;
  margin-bottom: 8px;

}
#dots li {
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin: 0 5px;
  border:2px solid #2284A1;
  background: white;
  cursor:pointer;
}
#dots li.active {
  background:#2284A1;
}
